<div id="search-form">
    <div id="header">
      <h1>BookFlight</h1>
    </div>
    <section>
      <div class="flight" id="flightbox">
        <form [formGroup]="flightform">
            
            <div id="flight-depart">
            <div class="info-box">
                <label for="">NAME</label>
                <input type="text" id="dep-from" formControlName="Name" /> <span style="color:red" *ngIf="flightform.get('Name')?.errors?.['required']">Name is required</span>
                <div id="depart-res"></div>
            </div>
            </div> 
            
            <div id="flight-dates">
                
                <div class="info-box">
                    
                    <label>FROM</label> 
                    
                    <select formControlName="Origin">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="Korea">Korea</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Laos">Laos</option>
                        <option value="Singapore">Singapore</option>
                    </select>
                    <span style="color:red" *ngIf="flightform.get('Origin')?.errors?.['required']">*required</span>
                </div>
                <div class="info-box">
                    <label>TO</label>
                    <select id="1"formControlName="Destination">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="Korea" selected='selected'> Korea</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Laos">Laos</option>
                        <option value="Singapore">Singapore</option>
                    </select>
                    <span style="color:red" *ngIf="flightform.get('Destination')?.errors?.['required']">*required</span>
                    <span style="color:red" *ngIf="check(flightform)">*Cant book same place</span>
                </div>
                
            </div>
            
            <div id="flight-info">
                <div class="info-box">
                    <label for="adults">ADULTS</label>
                    <select formControlName="Adults">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="info-box">
                    <label for="children">CHILDREN</label>
                    <select formControlName="Child">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="0">2</option>
                    <option value="3">3</option>
                    </select>
                </div>
                <div class="info-box">
                    <label for="children">INFANTS</label>
                    <select formControlName="Infants">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="0">2</option>
                    <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div id="flight-dates">
                <div class="info-box">
                    <label for="">DEPARTURE</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input formControlName="LeaveDate"matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="info-box" id="return-box">
                    <label for="">ARRIVAL</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input formControlName="ArriveDate" matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="info-box" id="return-box">
                    <label for="">TRIP TYPES</label>
                    <div>
                        <input type="radio"  formControlName="TripTypes" value="Oneway" checked /> One way 
                    </div>
                    <div>
                        <input type="radio" formControlName="TripTypes"  value="Return" checked /> Return
                    </div>
                    <span style="color:red" *ngIf="flightform.get('TripTypes')?.errors?.['required']">*required</span>
                </div>
            </div>
            <div id="flight-search">
                <div class="info-box">
                  <input type="submit" [disabled]="flightform.invalid" (click)="onSubmit(flightform)" id="search-flight" value="BOOK FLIGHTS"/>
                </div>
              </div>
        </form> 
      </div>
    </section>
</div>
<div id="search-form">
    <div id="header">
      <h1>List</h1>
    </div>
    <table>
        <thead class="search-form1 Table_Header">
          <tr>
            <th>Fullname</th><th>From</th><th>To</th><th>Adults</th><th>Children</th><th>Infants</th><th>Departure</th><th>Arrival</th><th>Type</th>
          </tr>
        </thead>
        <tbody class=" search-form1 Table_Data">
          <tr *ngFor = "let f of flight">
            <td>{{f.fullName}}</td>
            <td>{{f.from}}</td>
            <td>{{f.to}}</td>
            <td>{{f.adults}}</td>
            <td>{{f.children}}</td>
            <td>{{f.infants}}</td>
            <td>{{f.type}}</td>
            <td>{{f.departure}}</td>
            <td>{{f.arrival}}</td>
          </tr>
      </table>
</div>

