/* Search Form */
* {
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
  }
  
  #search-form {
    border: 1px solid rgb(191, 191, 191);
    width: 700px;
    position: relative;
    margin: auto;
    align-items: center;
  }
  #search-form1 {
    border: 1px solid rgb(191, 191, 191);
    width: 100%;
    position: relative;
    margin: auto;
    align-items: center;
  }
  .search-form1 .Table_Header{
    border: 1px solid rgb(191, 191, 191);
    width: 100%;
    position: relative;
    margin: auto;
    align-items: center;
  }
  .testc{
    margin: auto;
    align-items: center;
  }
  #header {
    height: 80px;
    background: rgb(191, 191, 191);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #header h1 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 3em
  }
  
  .flight {
    padding: 20px;
  }
  .flight input, select {
      color: #6B6A6A;
  }
  
  .info-box {
    padding: 10px 0;
    margin-top: 20px;
    flex: 1;
    border-right: 20px solid transparent;
  }
  .info-box:last-child {
    border-right: none;
  }
  .info-box label {
    display: block;
    color: #6B6A6A;
    font-size: .9em;
  }
  .info-box input[type=text],input[type=date] ,input[type=submit], select {
    border: 1px solid;
    background: #ffffff;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
  }
  
  #flight-type {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px dotted silver;
  }
  #flight-type .info-box {
    flex: 0 1 25%;
    display:flex;
    align-items: center;
  }
  
  #flight-depart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted silver;
  }
  #flight-depart .info-box {
    position: relative;
  }
  #depart-res, #arrive-res {
    position: absolute;
    background: #FFFFFF;
  }
  #depart-res p, #arrive-res p {
    padding: 7px 2px;
    border-bottom: 1px dotted silver;
  }
  #depart-res p:hover, #arrive-res p:hover {
    background: #EDEDED;
    cursor: pointer;
  }
  
  #flight-dates {
    display: flex;
    border-bottom: 1px dotted silver;
  }
  
  #flight-info {
    display: flex;
    border-bottom: 1px dotted silver;
  }
  
  #flight-search .info-box {
    display: flex;
    justify-content: center;
  }
  #flight-search input[type=submit] {
    background: #55AF3A;
    color: white;
    padding: 0;
    height: 50px;
    font-size: 1.2em;
  }
  
  /* Calender */
  #calender {
    border: 3px solid red;
    padding: 5px;
    opacity: 0;
    background: #FFFFFF;
    position: absolute;
    transition: opacity .3s;
    pointer-events: none;
  }
  #calender .nav {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  #calender .nav button {
    background: #FF3240;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 5px 8px;
    font-weight: 600;
    border-radius: 3px;
  }
  table {
    border: 1px solid #DBDBDB;
    background: #F4F4F4;
  }
  table td {
    border: 1px solid #DBDBDB;
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  .normal {
    color: rgba(0,0,0,.8)
  }
  .today {
    background: #FF3240;
    color: #FFFFFF;
  }
  .closed {
    color: #DBDBDB;
    cursor: default;
  }
  .picked {
    background: green;
  }
  #month {
    display: inline-block;
  }
  
  #confirm {
    width: 500px;
    padding: 20px;
    border: 5px solid #55AF3A;
    margin: 20px auto;
    opacity: 0;
  }
  #confirm h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  #confirm p {
    padding: 10px;
  }
  #confirm strong {
    font-weight: 600;
  }
  